repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  # RUFF - Ez helyettesíti a flake8, black, isort hármast!
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      # Linter (javítja az importokat és kódstílust)
      - id: ruff
        args: [ --fix ]
      # Formatter (formázza a kódot)
      - id: ruff-format

  # MYPY - Típusellenőrzés
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies: [
          types-requests,
          types-PyYAML,
          types-python-dateutil,
          types-setuptools
        ]
        args: [--ignore-missing-imports, --config-file=pyproject.toml]

  # BANDIT - Biztonság
  - repo: https://github.com/pycqa/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        args: [--skip=B101,B311]
