[MASTER]
# Python verzió
py-version = 3.12

# Rekurzívan vizsgált könyvtárak
recursive = yes

# Figyelmen kívül hagyott minták
ignore = CVS, .git, __pycache__, build, dist

[MESSAGES CONTROL]
# Kikapcsolt üzenetek
disable = C0111,  # missing-docstring
         C0103,  # invalid-name
         W0511,  # fixme
         R0903,  # too-few-public-methods
         R0913,  # too-many-arguments
         R0914   # too-many-locals

[FORMAT]
# Maximum sorhossz
max-line-length = 100

# Expected format of line ending
expected-line-ending-format = LF

[BASIC]
# Jó változónevek mintái
good-names = i, j, k, ex, Run, _, fp, id, T

[SIMILARITIES]
# Minimum sorok száma a duplikációk kereséséhez
min-similarity-lines = 4

# Figyelmen kívül hagyott import sorok
ignore-imports = yes

[TYPECHECK]
# Sémák, amiket a pylint nem tud interpretálni
ignored-classes = numpy, torch

[MISCELLANEOUS]
# Lista a kívánt megjegyzésekről (TODO, FIXME, stb.)
notes = TODO, FIXME, XXX, HACK

[VARIABLES]
# Figyelmen kívül hagyott argumentum nevek
ignored-argument-names = arg|args|kwargs

[STRING]
# Idézőjelek használata
check-quote-consistency = yes

[IMPORTS]
# Import rendezési beállítások
ignored-modules = numpy,pandas,torch,pytest
